node_modules
.idea
*.iml
**/*.js
**/*.js.map
!public/moment-with-locales.js
!public/moment.js
!public/i18nextify.js
!public/locales.min.js
!public/numeral.min.js
!public/moment-timezone-with-data-1970-2030.js